<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <div class="modal-body">
        <form action="/save" method="post">
        <div class="input-group input-group-sm mb-3"> <!-- specie-->
            <span class="input-group-text" id="inputGroup-sizing-sm">Species</span>
            <input type="text" value="{{animal.getSpecies()}}" name="ASpecies" style="width: 100px;" />
          </div>
        
          <div class="input-group input-group-sm mb-3"> <!--area-->
            <span class="input-group-text" id="inputGroup-sizing-sm">Area</span>
            <input type="text" value="{{animal.getArea()}}" name="A_Area" style="width: 100px;" />
          </div>

          <div class="input-group input-group-sm mb-3"> <!-- peso-->
            <span class="input-group-text" id="inputGroup-sizing-sm">Animal Weight</span>
            <input type="text" value="{{animal.getWeight()}}" name="AWeight" style="width: 100px;" />
          </div>
        </form>

        <form action="/animals" method="GET">
            <button type="button" class="btn btn-success">Save</button>
            </form>
            <a href="agg-togli.html"><button type="button" class="btn btn-success">Exit</button></a>
      </div>
</body>
</html>